.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  transition: all 0.2s linear;
  @media (max-width: 992px) {
    padding: 15px 0;
  }
  @media (max-width: 768px) {
    padding: 12px 0 8px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
  &__top {
    background: #fafafa;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 992px) {
        display: none;
      }
    }
    @media (max-width: 992px) {
      flex-direction: column;
      padding: 8px;
      display: none;
    }

    & > span {
      font-size: 14px;
      color: #212121;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &_contacts {
      //  d-none align-items-center pt-2 pb-2 d-md-flex
      display: flex;
      align-items: center;
      padding: 8px 0;
      gap: 40px;
      &-link {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      @media (max-width: 992px) {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 4px;
      }
      a {
        font-family: "PT Sans";
        font-size: 14px;
        color: #212121;
        @media (max-width: 992px) {
          height: 40px;
        }
      }
    }
    &_social {
      display: flex;
      align-items: center;
      gap: 4px;
      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
      }
      a {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: #3390ec;
        transition: all 0.2s linear;
        @media (max-width: 768px) {
          width: 100%;
          color: #fff;
          height: 40px;
        }
        &:hover {
          background: #2c7fd0;
        }
        &:last-child {
          background: #33cf6a;
          &:hover {
            background: #2dba5f;
          }
        }
      }
    }
  }
  &__logo {
    flex: 0.94;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 992px) {
      flex: 0 0 auto;
    }
    @media (max-width: 768px) {
      flex: 0 0 auto;
      position: absolute;
      left: 0;
      display: flex !important;
      right: 0;
      z-index: 1111111;
      width: fit-content;
      top: 19px;
      margin: 0 auto;
      margin-left: 35%;
    }
    @media (max-width: 556px) {
      margin-left: 30%;
    }
    @media (max-width: 410px) {
      margin-left: 27%;
    }
    h2 {
      text-transform: uppercase;
      color: #212121;
      line-height: 80%;
    }
    span {
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      color: #212121;
    }
  }
  .nav-item {
    padding: 0;
    .nav-link {
      text-transform: uppercase;
      padding: 0;
      color: #212121;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }
  }
  &__nav {
    gap: 40px;
    width: 75%;
    .header__nav {
      width: 100%;
    }
    @media (max-width: 1400px) {
      gap: 20px;
    }
    @media (max-width: 1200px) {
      gap: 15px;
    }
    .navbar {
      padding: 0;
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    @media (max-width: 992px) {
      width: 75%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    .header__logo {
      display: none;
      h2 {
        text-transform: uppercase;
        color: #212121;
        line-height: 80%;
      }
      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        color: #212121;
      }
      .catalog {
        padding: 12px 20px;
        border-radius: 4px;
        background: #e53935;
        color: #fafafa;
        text-transform: uppercase;
        flex: 1;
        cursor: pointer;
        //  d-lg-flex d-none align-items-center gap-2
        align-items: center;
        display: flex;
        align-items: center;
        gap: 8px;
        @media (max-width: 992px) {
          display: none !important;
        }
        @media (max-width: 992px) {
          height: fit-content;
          width: fit-content;
          flex: 0 0 auto;
        }
      }
    }
    .catalog {
      padding: 12px 20px;
      border-radius: 4px;
      background: #e53935;
      color: #fafafa;
      text-transform: uppercase;
      flex: 1;
      cursor: pointer;
      @media (max-width: 992px) {
        display: none;
        height: fit-content;
        width: fit-content;
        flex: 0 0 auto;
      }
    }
    .form__content {
      width: 75%;
      @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
      }
      @media (max-width: 768px) {
        justify-content: flex-end;
        width: 100%;
        gap: 8px 4px !important;
      }
      .form_btn {
        color: #212121;
        transition: all 0.2s linear;
        padding: 11.5px 20px;
        border-radius: 4px;
        border: 1px solid #e53935;
        flex: 0 0 auto;
        &:hover {
          background: #fbe1e0;
        }
      }
    }

    .header__top_contacts {
      display: none;
    }
    .form__search {
      position: relative;
      width: 47%;
      @media (max-width: 992px) {
        width: 72%;
      }
      @media (max-width: 768px) {
        width: calc(100% + 75px);
        order: 3;
        margin-left: -33%;
      }
      input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 11.5px 40px 11.5px 20px;
      }
      button {
        background: #fff;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        height: 90%;
        right: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
      }
    }
    .form_link {
      font-family: "PT Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      color: #212121;
      transition: all 0.2s linear;
      @media (max-width: 768px) {
        width: 44px;
        height: 44px;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
        span:last-child {
          display: none;
        }
      }
      .count_product {
        width: 16px;
        height: 17px;
        border-radius: 100px;
        background: #e53935;
        color: #fafafa;
        right: 10px;
        top: 0;
        @media (max-width: 768px) {
          top: 9px;
          font-size: 10px;
        }
      }
      &:hover {
        color: #e53935;
      }
    }
  }
  &_mobile {
    display: none;
    position: fixed;
    top: 12px;
    z-index: 222222;
    left: 0;
    padding: 0;
    &_content {
      width: 100%;
      max-width: 269px;
      flex: 0 0 auto;
      border-radius: 0px 4px 4px 0px;
      background: #fff;
      .dorpdown_content {
        .catalog {
          border-radius: 4px;
          background: #fafafa;
          padding: 11.5px 20px;
          color: #212121;
          height: 40px;
          @media (max-width: 992px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          img {
            opacity: 0;
            transition: all 0.2s linear;
          }
          &:hover {
            color: #e53935;
            img {
              opacity: 1;
            }
          }
          &.active {
            img {
              transform: rotate(-90deg);
            }
          }
        }
      }
      .form_btn {
        color: #212121;
        transition: all 0.2s linear;
        padding: 11.5px 20px;
        border-radius: 4px;
        border: 1px solid #e53935;
        flex: 0 0 auto;

        &:hover {
          background: #fbe1e0;
        }
      }
      .header_mobile_list {
        a {
          height: 40px;
          color: #212121;
          font-family: "PT Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &:hover {
            background: #fafafa;
          }
          &.active {
            img {
              transform: rotate(180deg);
            }
          }
        }
      }
      .dorpdown_content {
        display: none;
      }
    }
  }
  &__hamburger {
    display: none;
  }
  &.scroll {
    animation: fadeIn 0.4s linear;
    padding: 18px 0;
    .scroll_none {
      display: none !important;
    }

    .header__form {
      align-items: center;
      justify-content: space-between;
      @media (max-width: 992px) {
        width: 100%;
      }
      .header__top_contacts {
        display: flex;
        gap: 2px;
      }
    }
    .header__nav {
      flex-direction: column;
    }
    .navbar {
      .header__nav {
        padding: 20px;
        margin-left: auto;
        position: relative;
        z-index: 11111111111111111;
        background: #fff;
      }
    }

    #header__nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: none;

      .header__nav {
        flex-direction: column !important;
      }
    }
    .catalog {
      width: 100%;
      max-width: 211px;
      flex: 0 0 auto;
      margin-left: 20px;
      @media (max-width: 1400px) {
        margin-left: 0;
        max-width: 140px;
      }
    }
    .header__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 auto;
    }
    .header__top {
      display: none;
    }
    .form__search {
      position: relative;
      width: 44px;
      @media (max-width: 992px) {
        flex: 1;
      }
      input {
        width: 100%;
        width: 44px;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 11.5px 0px 11.5px 0px;
        @media (max-width: 992px) {
          width: 100%;
          padding: 11.5px 10px 11.5px 10px;
        }
      }
      button {
        background: #fff;
        width: 42px;
        cursor: pointer;
        right: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
      }
    }
    .header__top_contacts {
      flex-direction: column;
      margin-left: 29px;
      @media (max-width: 1400px) {
        margin-left: 0;
      }
      @media (max-width: 1200px) {
        display: none !important;
      }
    }
    .form_link {
      margin-left: 20px;
      @media (max-width: 1400px) {
        margin-left: 0;
      }
    }
    .header__hamburger {
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 4px;
      background: #f5f5f5;
      gap: 4px;
      flex: 0 0 auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      @media (max-width: 992px) {
        display: none !important;
      }
      span {
        width: 20px;
        height: 2px;
        background: #212121;
      }
    }
  }
  .container {
    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fancybox__content {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  width: 264px !important;
  border-radius: 8px 0 0 8px;
  a {
    text-transform: uppercase;
    @media (max-width: 992px) {
      text-transform: none;
    }
  }
  @media (max-width: 992px) {
    max-width: 269px;
    border-radius: 8px;
  }
  .header__nav {
    gap: 32px;
    flex-direction: column !important;
    .header__nav {
      width: 100%;
    }
    a {
      padding: 0 !important;
    }
  }
  .dropdown-menu.show {
    position: relative !important;
    padding: 0;
    border: 0;
    .dropdown-item {
      padding: 10px !important;
      background: #fff;
      border-radius: 8px;
      display: block;
      &:hover {
        background: #fafafa;
      }
    }
  }
}
