.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  &__top {
    background: #fafafa;
    @media (max-width: 992px) {
      flex-direction: column;
      padding: 8px;
    }

    & > span {
      font-size: 14px;
      color: #212121;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &_contacts {
      gap: 40px;
      @media (max-width: 992px) {
        flex-direction: column;
        width: 100%;
        gap: 4px;
      }
      a {
        font-family: "PT Sans";
        font-size: 14px;
        color: #212121;
        @media (max-width: 992px) {
          height: 40px;
        }
      }
    }
    &_social {
      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
      }
      a {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: #3390ec;
        @media (max-width: 768px) {
          width: 100%;
          color: #fff;
          height: 40px;
        }
        &:last-child {
          background: #33cf6a;
        }
      }
    }
  }
  &__logo {
    flex: 1;
    h2 {
      text-transform: uppercase;
      color: #212121;
      line-height: 80%;
    }
    span {
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      color: #212121;
    }
  }
  .nav-item {
    padding: 0;

    .nav-link {
      text-transform: uppercase;
      padding: 0;
      color: #212121;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }
  }
  &__nav {
    gap: 40px;

    @media (max-width: 1400px) {
      gap: 20px;
    }
    @media (max-width: 1200px) {
      gap: 15px;
    }
    .navbar {
      padding: 0;
    }
  }
  &__form {
    .catalog {
      padding: 12px 20px;
      border-radius: 4px;
      background: #e53935;
      color: #fafafa;
      text-transform: uppercase;
      flex: 1;
      @media (max-width: 992px) {
        height: fit-content;
      }
    }
    .form__content {
      width: 75%;
      @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .form_btn {
        color: #212121;
        transition: all 0.2s linear;
        padding: 11.5px 20px;
        border-radius: 4px;
        border: 1px solid #e53935;
        flex: 0 0 auto;

        &:hover {
          color: #e53935;
        }
      }
    }
    .form__search {
      position: relative;
      width: 47%;
      input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 11.5px 40px 11.5px 20px;
      }
      button {
        background: #fff;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        height: 90%;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
      }
    }
    .form_link {
      font-family: "PT Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      color: #212121;
      transition: all 0.2s linear;
      &:hover {
        color: #e53935;
      }
    }
  }

  &_mobile {
    display: none;
    position: fixed;
    top: 12px;
    z-index: 222222;
    left: 0;
    padding: 0;
    &_content {
      width: 100%;
      max-width: 269px;
      border-radius: 0px 4px 4px 0px;
      background: #fff;
      .dorpdown_content {
        .catalog {
          border-radius: 4px;
          background: #fafafa;
          padding: 11.5px 20px;
          color: #212121;
          height: 40px;
          img {
            opacity: 0;
            transition: all 0.2s linear;
          }
          &:hover {
            color: #e53935;
            img {
              opacity: 1;
            }
          }
        }
      }
      .form_btn {
        color: #212121;
        transition: all 0.2s linear;
        padding: 11.5px 20px;
        border-radius: 4px;
        border: 1px solid #e53935;
        flex: 0 0 auto;

        &:hover {
          color: #e53935;
        }
      }
      .header_mobile_list {
        a {
          height: 40px;
          color: #212121;
          font-family: "PT Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .dorpdown_content {
        display: none;
      }
    }
  }
}
