.hero {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  &__top {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    height: fit-content;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.04);
    @media (max-width: 768px) {
      box-shadow: 0 0 0 0 transparent;
    }
  }
  &__left_slider {
    width: 30%;
    overflow: hidden;
    @media (max-width: 1025px) {
      width: 35%;
    }
    @media (max-width: 992px) {
      width: 39%;
    }
    @media (max-width: 992px) {
      width: 49%;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
    .swiper-pagination {
      width: 100%;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #e53935;
      margin: 0 5px !important;
    }
  }
  &__banner {
    position: relative;
    @media (max-width: 992px) {
      width: 51%;
    }
    &_item {
      height: 100%;
    }
  }
  &_btns {
    @media (max-width: 992px) {
      margin-top: 20px;
    }
  }
  .hero__slider_content {
    @media (max-width: 768px) {
      border-radius: 4px;
      height: 100%;
      overflow: hidden;
    }
  }
  &_slider {
    overflow: hidden;
    @media (max-width: 768px) {
      width: calc(100% + 15px);
    }
    .swiper-slide {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_content {
      position: absolute;
      top: 0;
      left: 0;
      padding: 60px;
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(4px);
      @media (max-width: 1400px) {
        padding: 25px;
      }

      @media (max-width: 768px) {
        padding: 25px 0 0 10px;
        height: 100%;
      }

      .hero_text {
        margin-bottom: 20px;
        margin-top: 12px;
        @media (max-width: 992px) {
          display: none;
        }
      }
      h2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        @media (max-width: 768px) {
          font-size: 20px;
          line-height: 100%;
        }
      }
      .btn {
        min-width: 138px;
        padding: 11.5px 20px;
        background: #000;
        border-radius: 4px;
        background: #e53935;
        border: 0;
        @media (max-width: 768px) {
          min-width: 100px;
          padding: 11.5px 16px;
          line-height: normal;
        }
        &:last-child {
          background: #fbe1e0;
          color: #e53935;
          @media (max-width: 768px) {
            display: none !important;
          }
        }
      }
    }
  }
  &__content {
    width: 74.7%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  .sidebar {
    width: 23.7%;
    display: block;
    @media (max-width: 992px) {
      display: none;
    }
  }
  //   hero
  &_cards {
    margin-top: 24px;
    overflow: hidden;
    @media (max-width: 556px) {
      margin-top: 8px;
    }
    .swiper-wrapper {
      @media (max-width: 556px) {
        flex-direction: column;
        gap: 8px;
      }
    }
    .swiper-slide:first-child,
    .swiper-slide:nth-child(2) {
      @media (max-width: 556px) {
        img {
          padding-left: 5px;
          padding-right: 5px;
          width: 53px;
        }
      }
    }
    .swiper-slide:nth-child(3),
    .swiper-slide:nth-child(4),
    .swiper-slide:nth-child(5) {
      @media (max-width: 556px) {
        img {
          padding-right: 5px;
          width: 53px;
        }
      }
    }
    .swiper_btnlists {
      gap: 31px;
      margin-top: 8px;
      @media (max-width: 556px) {
        display: none !important;
      }
      .btn {
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding: 0;
        display: flex;
        box-shadow: 0 0 0 #fff;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .hero_card_top {
      gap: 12px;
      @media (max-width: 556px) {
        flex-direction: column;
        gap: 4px;
      }
      img {
        @media (max-width: 556px) {
          display: none;
        }
      }
    }
    .mobile_icon {
      display: none;
      @media (max-width: 556px) {
        display: block;
      }
    }
    .hero_card_number {
      color: #999;
      @media (max-width: 556px) {
        display: none;
      }
    }
    .hero_card_title {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      @media (max-width: 556px) {
        font-size: 14px;
        text-transform: none;
      }
    }
    .hero_card_info {
      margin-top: 12px;
      @media (max-width: 556px) {
        display: none;
        font-size: 14px;
      }
      &.mobile_content {
        display: none;
        @media (max-width: 556px) {
          display: block;
          margin-top: 0;
        }
      }
    }
    .hero_card {
      @media (max-width: 556px) {
        padding: 4px 0;
        border-radius: 4px;
        background: #fafafa;
        display: flex;
        gap: 4px;
        align-items: center;
      }
    }
  }
  &_form {
    padding: 16px;
    border-radius: 4px;
    background: #fafafa;
    margin-top: 16px;
    @media (max-width: 768px) {
      margin-top: 8px;
      width: calc(100% + 25px);
      margin-left: -12px;
    }
    .filter_form {
      label {
        gap: 4px;
        width: 12%;
        @media (max-width: 1400px) {
          width: 25%;
        }
        @media (max-width: 992px) {
          width: 45%;
        }
        @media (max-width: 768px) {
          width: 100%;
          font-size: 12px;
        }
        &.slects {
          width: 35%;
          @media (max-width: 768px) {
            width: 100%;
          }
          .select2-container--default
            .select2-selection--single
            .select2-selection__arrow {
            background: none;
            width: 30px;
            height: 100%;
            top: 0;
            right: 0;
            position: absolute;
            b {
              display: none;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: 23px;
              height: 24px;
              transform: translate(-50%, -50%);
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='24' viewBox='0 0 23 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.46052 8.52461C5.82667 8.15846 6.42032 8.15846 6.78647 8.52461L11.749 13.4871L16.7115 8.52461C17.0777 8.15846 17.6713 8.15846 18.0375 8.52461C18.4036 8.89076 18.4036 9.48441 18.0375 9.85055L12.412 15.4761C12.0458 15.8422 11.4522 15.8422 11.086 15.4761L5.46052 9.85055C5.09438 9.48441 5.09438 8.89076 5.46052 8.52461Z' fill='%23999999'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              pointer-events: none;
            }
          }
        }
      }
      .select2-search--dropdown {
        display: none;
      }
      .filter__input,
      .select2-container .select2-selection--single {
        height: 44px;
        border-radius: 4px;
        border: 1px solid #999;
        width: 100%;
      }
      .select2-selection__rendered {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .select2 {
        width: 100% !important;
      }

      .select2-search.select2-search--dropdown {
        display: none;
      }

      .hero_form_btnlists {
        width: 25%;
        gap: 8px;
        @media (max-width: 1200px) {
          width: 45%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        .btn {
          width: 50%;
          padding: 11.5px 20px;
          border-radius: 4px;
          background: #e53935;
          border: 0;
          color: #fff;

          &:last-child {
            background: #fbe1e0;
            color: #e53935;
            border: 1px solid transparent;
            transition: all 0.2s linear;
            @media (max-width: 768px) {
              order: -1;
            }
            &:hover {
              border-color: #cc2f2c !important;
            }
          }
        }
      }
    }
  }
}

.sidebar {
  &__subcontent {
    border-radius: 4px;
    background: #f5f5f5;
    padding: 20px;
    position: absolute;
    right: calc(-100% + -8px);
    top: 0;
    width: 312px;
    z-index: 12;
    display: none;
    @media (max-width: 1400px) {
      width: 290px;
      right: calc(-100% - 29px);
    }
    @media (max-width: 1200px) {
      width: 245px;
      right: calc(-100% - 29px);
    }
    @media (max-width: 992px) {
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
      padding: 5px;
      margin-top: 4px;
    }

    ul.sidebar__subcontent_lists {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 4px 0;
    }
    li {
      width: calc(50% - 8px);
      a {
        padding: 9.5px 16px;
        border-radius: 4px;
        color: #212121;
        transition: all 0.2s linear;
        display: block;
        &:hover {
          background: #fbe1e0;
        }
      }
    }
  }
  .catalog {
    border-radius: 4px;
    background: #fafafa;
    padding: 11.5px 20px;
    color: #212121;
    height: 40px;
    position: relative;

    img {
      opacity: 0;
      transition: all 0.2s linear;
    }
    &:hover {
      color: #e53935;
      img {
        opacity: 1;
      }
    }
    &.active {
      color: #e53935;
      img {
        opacity: 1;
      }
    }
  }
  .sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    .catalog {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    & > li {
      position: relative;
      &:nth-child(n + 12) .sidebar__subcontent {
        top: auto;
        bottom: 0;
      }
      a {
        transition: all 0.2s linear;
      }
    }
  }
}
