@import "../libs/bootstrap.min.css";

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}
// sections
@import "_header.scss";
@import "_hero.scss";
@import "_products.scss";
@import "_trusted_clients.scss";
@import "_additional.scss";
@import "_delivery.scss";
@import "_certificates.scss";
@import "_contact.scss";
@import "footer.scss";
@import "breadcrumb.scss";
*,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Шрифты */
  --font-fmily: "PT Sans", sans-serif;
  /* Размеры заголовков */
  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;

  /* Цвета кнопок */
  --btn-bg: #e53935;
  --btn-bg-opacity: #fbe1e0;
  --btn-text-color: #ffffff;
  --btn-hover-bg: #0056b3;
  --btn-hover-text: #ffffff;
}

/* Применение переменных */

h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h1);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
}

button {
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  color: #212121;
  font-family: var(--font-fmily);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #fff;
}

.nav-link.dropdown-toggle::after {
  display: none !important;
}
main {
  padding-top: 152px;
}
.wrapper {
  overflow: hidden;
}
.section_title {
  font-family: "PT Sans";
  color: #212121;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  gap: 16px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
  span {
    font-size: 16px;
    font-weight: 400;
  }
}
.products_card {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  .products_card_top {
    position: relative;
    .tags {
      position: absolute;
      top: 12px;
      left: 12px;
      border-radius: 4px;
      background: #91c031;
      color: #fff;
      font-family: "PT Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      padding: 3px 16.5px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .product_card_body {
    padding: 4px;

    h3 {
      color: #212121;
      font-family: "PT Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    ul {
      li {
        padding: 7px 0;
        span {
          color: #999;
          font-family: "PT Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &:last-child {
            color: #212121;
          }
        }
      }
    }
    .price_new {
      color: #212121;
      font-family: "PT Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 5px 0;
      margin-top: 4px;
    }
  }
  .btn {
    color: #b71c1c;
    font-family: "PT Sans";
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    background: #e53935;
    border: 0;
    &:first-child {
      gap: 8px;
      flex: 1 0 0;
      background: #fbe1e0;
    }
  }
}
.f-button.is-close-btn {
  display: none;
}
.fancybox__backdrop {
  background: rgba(33, 33, 33, 0.3);
}
input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  border-color: #212121 !important;
  box-shadow: 0 0 0 transparent;
}
