@charset "UTF-8";
@import "../libs/bootstrap.min.css";
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  transition: all 0.2s linear;
}
@media (max-width: 992px) {
  .header {
    padding: 15px 0;
  }
}
@media (max-width: 768px) {
  .header__wrap {
    display: none !important;
  }
}
.header__top {
  background: #fafafa;
}
@media (max-width: 992px) {
  .header__top {
    flex-direction: column;
    padding: 8px;
    display: none;
  }
}
.header__top > span {
  font-size: 14px;
  color: #212121;
}
@media (max-width: 992px) {
  .header__top > span {
    display: none;
  }
}
.header__top_contacts {
  gap: 40px;
}
@media (max-width: 992px) {
  .header__top_contacts {
    flex-direction: column;
    width: 100%;
    gap: 4px;
  }
}
.header__top_contacts a {
  font-family: "PT Sans";
  font-size: 14px;
  color: #212121;
}
@media (max-width: 992px) {
  .header__top_contacts a {
    height: 40px;
  }
}
@media (max-width: 768px) {
  .header__top_social {
    flex-direction: column;
    width: 100%;
  }
}
.header__top_social a {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #3390ec;
  transition: all 0.2s linear;
}
@media (max-width: 768px) {
  .header__top_social a {
    width: 100%;
    color: #fff;
    height: 40px;
  }
}
.header__top_social a:hover {
  background: #2c7fd0;
}
.header__top_social a:last-child {
  background: #33cf6a;
}
.header__top_social a:last-child:hover {
  background: #2dba5f;
}
.header__logo {
  flex: 0.94;
  transition: all 0.2s linear;
}
@media (max-width: 992px) {
  .header__logo {
    flex: 0 0 auto;
  }
}
.header__logo h2 {
  text-transform: uppercase;
  color: #212121;
  line-height: 80%;
}
.header__logo span {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: #212121;
}
.header .nav-item {
  padding: 0;
}
.header .nav-item .nav-link {
  text-transform: uppercase;
  padding: 0;
  color: #212121;
}
@media (max-width: 1200px) {
  .header .nav-item .nav-link {
    font-size: 14px;
  }
}
.header__nav {
  gap: 40px;
  width: 75%;
}
.header__nav .header__nav {
  width: 100%;
}
@media (max-width: 1400px) {
  .header__nav {
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .header__nav {
    gap: 15px;
  }
}
.header__nav .navbar {
  padding: 0;
}
@media (max-width: 992px) {
  .header__form {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .header__form {
    width: 100%;
  }
}
.header__form .header__logo {
  display: none !important;
}
.header__form .header__logo h2 {
  text-transform: uppercase;
  color: #212121;
  line-height: 80%;
}
.header__form .header__logo span {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: #212121;
}
.header__form .catalog {
  padding: 12px 20px;
  border-radius: 4px;
  background: #e53935;
  color: #fafafa;
  text-transform: uppercase;
  flex: 1;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__form .catalog {
    height: fit-content;
  }
}
.header__form .form__content {
  width: 75%;
}
@media (max-width: 992px) {
  .header__form .form__content {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.header__form .form__content .form_btn {
  color: #212121;
  transition: all 0.2s linear;
  padding: 11.5px 20px;
  border-radius: 4px;
  border: 1px solid #e53935;
  flex: 0 0 auto;
}
.header__form .form__content .form_btn:hover {
  background: #fbe1e0;
}
.header__form .header__top_contacts {
  display: none;
}
.header__form .form__search {
  position: relative;
  width: 47%;
}
@media (max-width: 768px) {
  .header__form .form__search {
    width: 68%;
  }
}
.header__form .form__search input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 11.5px 40px 11.5px 20px;
}
.header__form .form__search button {
  background: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 90%;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
.header__form .form_link {
  font-family: "PT Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: #212121;
  transition: all 0.2s linear;
}
@media (max-width: 768px) {
  .header__form .form_link {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__form .form_link span:last-child {
    display: none;
  }
}
.header__form .form_link .count_product {
  width: 16px;
  height: 17px;
  border-radius: 100px;
  background: #e53935;
  color: #fafafa;
  right: 10px;
  top: 0;
}
.header__form .form_link:hover {
  color: #e53935;
}
.header_mobile {
  display: none;
  position: fixed;
  top: 12px;
  z-index: 222222;
  left: 0;
  padding: 0;
}
.header_mobile_content {
  width: 100%;
  max-width: 269px;
  flex: 0 0 auto;
  border-radius: 0px 4px 4px 0px;
  background: #fff;
}
.header_mobile_content .dorpdown_content .catalog {
  border-radius: 4px;
  background: #fafafa;
  padding: 11.5px 20px;
  color: #212121;
  height: 40px;
}
.header_mobile_content .dorpdown_content .catalog img {
  opacity: 0;
  transition: all 0.2s linear;
}
.header_mobile_content .dorpdown_content .catalog:hover {
  color: #e53935;
}
.header_mobile_content .dorpdown_content .catalog:hover img {
  opacity: 1;
}
.header_mobile_content .form_btn {
  color: #212121;
  transition: all 0.2s linear;
  padding: 11.5px 20px;
  border-radius: 4px;
  border: 1px solid #e53935;
  flex: 0 0 auto;
}
.header_mobile_content .form_btn:hover {
  background: #fbe1e0;
}
.header_mobile_content .header_mobile_list a {
  height: 40px;
  color: #212121;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header_mobile_content .header_mobile_list a:hover {
  background: #fafafa;
}
.header_mobile_content .dorpdown_content {
  display: none;
}
.header__hamburger {
  display: none;
}
.header.scroll {
  animation: fadeIn 0.4s linear;
  padding: 18px 0;
}
.header.scroll .scroll_none {
  display: none !important;
}
.header.scroll .header__form {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .header.scroll .header__form {
    width: 100%;
  }
}
.header.scroll .header__form .header__top_contacts {
  display: flex;
  gap: 2px;
}
.header.scroll .header__nav {
  flex-direction: column;
}
.header.scroll .navbar .header__nav {
  padding: 20px;
  margin-left: auto;
  position: relative;
  z-index: 11111111111111112;
  background: #fff;
}
.header.scroll #header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.header.scroll #header__nav .header__nav {
  flex-direction: column !important;
}
.header.scroll .catalog {
  width: 100%;
  max-width: 211px;
  flex: 0 0 auto;
  margin-left: 20px;
}
@media (max-width: 1400px) {
  .header.scroll .catalog {
    margin-left: 0;
    max-width: 140px;
  }
}
.header.scroll .header__logo {
  display: flex !important;
  flex: 0 0 auto;
}
.header.scroll .header__top {
  display: none;
}
.header.scroll .form__search {
  position: relative;
  width: 44px;
}
@media (max-width: 992px) {
  .header.scroll .form__search {
    flex: 1;
  }
}
.header.scroll .form__search input {
  width: 100%;
  width: 44px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 11.5px 0px 11.5px 0px;
}
@media (max-width: 992px) {
  .header.scroll .form__search input {
    width: 100%;
    padding: 11.5px 10px 11.5px 10px;
  }
}
.header.scroll .form__search button {
  background: #fff;
  width: 42px;
  cursor: pointer;
  right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
.header.scroll .header__top_contacts {
  flex-direction: column;
  margin-left: 29px;
}
@media (max-width: 1400px) {
  .header.scroll .header__top_contacts {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .header.scroll .header__top_contacts {
    display: none !important;
  }
}
.header.scroll .form_link {
  margin-left: 20px;
}
@media (max-width: 1400px) {
  .header.scroll .form_link {
    margin-left: 0;
  }
}
.header.scroll .header__hamburger {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background: #f5f5f5;
  gap: 4px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header.scroll .header__hamburger {
    display: none !important;
  }
}
.header.scroll .header__hamburger span {
  width: 20px;
  height: 2px;
  background: #212121;
}
@media (max-width: 992px) {
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fancybox__content {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  width: 264px !important;
}
.fancybox__content a {
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .fancybox__content a {
    text-transform: none;
  }
}
@media (max-width: 992px) {
  .fancybox__content {
    max-width: 269px;
    border-radius: 8px;
  }
}
.fancybox__content .header__nav {
  gap: 32px;
  flex-direction: column !important;
}
.fancybox__content .header__nav .header__nav {
  width: 100%;
}
.fancybox__content .header__nav a {
  padding: 0 !important;
}
.fancybox__content .dropdown-menu.show {
  position: relative !important;
  padding: 0;
  border: 0;
}
.fancybox__content .dropdown-menu.show .dropdown-item {
  padding: 10px !important;
  background: #fff;
  border-radius: 8px;
  display: block;
}
.fancybox__content .dropdown-menu.show .dropdown-item:hover {
  background: #fafafa;
}

.hero__top {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  height: fit-content;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.04);
}
.hero__left_slider {
  width: 30%;
  overflow: hidden;
}
.hero__left_slider img {
  width: 100%;
  object-fit: contain;
}
.hero__left_slider .swiper-pagination {
  width: 100%;
}
.hero__left_slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #e53935;
  margin: 0 5px !important;
}
.hero__banner {
  position: relative;
}
.hero__banner_item {
  height: 100%;
}
.hero_slider {
  overflow: hidden;
}
.hero_slider .swiper-slide {
  position: relative;
}
.hero_slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_slider_content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 60px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(4px);
}
@media (max-width: 1400px) {
  .hero_slider_content {
    padding: 25px;
  }
}
.hero_slider_content .hero_text {
  margin-bottom: 20px;
  margin-top: 12px;
}
.hero_slider_content h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.hero_slider_content .btn {
  min-width: 138px;
  padding: 11.5px 20px;
  background: #000;
  border-radius: 4px;
  background: #e53935;
  border: 0;
}
.hero_slider_content .btn:last-child {
  background: #fbe1e0;
  color: #e53935;
}
.hero__content {
  width: 74.7%;
}
@media (max-width: 992px) {
  .hero__content {
    width: 100%;
  }
}
.hero .sidebar {
  width: 23.7%;
}
.hero_cards {
  margin-top: 24px;
  overflow: hidden;
}
.hero_cards .swiper_btnlists {
  gap: 31px;
  margin-top: 8px;
}
.hero_cards .swiper_btnlists .btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  display: flex;
  box-shadow: 0 0 0 #fff;
}
.hero_cards .swiper_btnlists .btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero_cards .hero_card_top {
  gap: 12px;
}
.hero_cards .hero_card_number {
  color: #999;
}
.hero_cards .hero_card_title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.hero_cards .hero_card_info {
  margin-top: 12px;
}
.hero_form {
  padding: 16px;
  border-radius: 4px;
  background: #fafafa;
  margin-top: 16px;
}
.hero_form .filter_form label {
  gap: 4px;
  width: 12%;
}
@media (max-width: 1400px) {
  .hero_form .filter_form label {
    width: 25%;
  }
}
@media (max-width: 992px) {
  .hero_form .filter_form label {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .hero_form .filter_form label {
    width: 100%;
  }
}
.hero_form .filter_form label.slects {
  width: 35%;
}
@media (max-width: 768px) {
  .hero_form .filter_form label.slects {
    width: 100%;
  }
}
.hero_form .filter_form label.slects .select2-container--default .select2-selection--single .select2-selection__arrow {
  background: none;
  width: 30px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}
.hero_form .filter_form label.slects .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.hero_form .filter_form label.slects .select2-container--default .select2-selection--single .select2-selection__arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 23px;
  height: 24px;
  transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='24' viewBox='0 0 23 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.46052 8.52461C5.82667 8.15846 6.42032 8.15846 6.78647 8.52461L11.749 13.4871L16.7115 8.52461C17.0777 8.15846 17.6713 8.15846 18.0375 8.52461C18.4036 8.89076 18.4036 9.48441 18.0375 9.85055L12.412 15.4761C12.0458 15.8422 11.4522 15.8422 11.086 15.4761L5.46052 9.85055C5.09438 9.48441 5.09438 8.89076 5.46052 8.52461Z' fill='%23999999'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}
.hero_form .filter_form .select2-search--dropdown {
  display: none;
}
.hero_form .filter_form .filter__input,
.hero_form .filter_form .select2-container .select2-selection--single {
  height: 44px;
  border-radius: 4px;
  border: 1px solid #999;
  width: 100%;
}
.hero_form .filter_form .select2-selection__rendered {
  height: 100%;
  display: flex;
  align-items: center;
}
.hero_form .filter_form .select2 {
  width: 100% !important;
}
.hero_form .filter_form .select2-search.select2-search--dropdown {
  display: none;
}
.hero_form .filter_form .hero_form_btnlists {
  width: 25%;
  gap: 8px;
}
@media (max-width: 1200px) {
  .hero_form .filter_form .hero_form_btnlists {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .hero_form .filter_form .hero_form_btnlists {
    width: 100%;
  }
}
.hero_form .filter_form .hero_form_btnlists .btn {
  width: 50%;
  padding: 11.5px 20px;
  border-radius: 4px;
  background: #e53935;
  border: 0;
  color: #fff;
}
.hero_form .filter_form .hero_form_btnlists .btn:last-child {
  background: #fbe1e0;
  color: #e53935;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}
.hero_form .filter_form .hero_form_btnlists .btn:last-child:hover {
  border-color: #cc2f2c !important;
}

.sidebar__subcontent {
  border-radius: 4px;
  background: #f5f5f5;
  padding: 20px;
  position: absolute;
  right: calc(-100% - 8px);
  top: 0;
  width: 312px;
  z-index: 12;
  display: none;
}
@media (max-width: 1400px) {
  .sidebar__subcontent {
    width: 290px;
    right: calc(-100% - 29px);
  }
}
@media (max-width: 1200px) {
  .sidebar__subcontent {
    width: 245px;
    right: calc(-100% - 29px);
  }
}
.sidebar__subcontent ul {
  justify-content: space-between;
  gap: 4px 0;
}
.sidebar__subcontent li {
  width: calc(50% - 8px);
}
.sidebar__subcontent li a {
  padding: 9.5px 16px;
  border-radius: 4px;
  color: #212121;
  transition: all 0.2s linear;
  display: block;
}
.sidebar__subcontent li a:hover {
  background: #fbe1e0;
}
.sidebar .catalog {
  border-radius: 4px;
  background: #fafafa;
  padding: 11.5px 20px;
  color: #212121;
  height: 40px;
  position: relative;
}
.sidebar .catalog img {
  opacity: 0;
  transition: all 0.2s linear;
}
.sidebar .catalog:hover {
  color: #e53935;
}
.sidebar .catalog:hover img {
  opacity: 1;
}
.sidebar .catalog.active {
  color: #e53935;
}
.sidebar .catalog.active img {
  opacity: 1;
}
.sidebar .sidebar__list > li {
  position: relative;
}
.sidebar .sidebar__list > li:nth-child(n+12) .sidebar__subcontent {
  top: auto;
  bottom: 0;
}

.products {
  padding: 40px 0;
  background: #f5f5f5;
  margin-top: 80px;
}
@media (max-width: 556px) {
  .products {
    padding: 16px 0;
  }
}
.products.pupular {
  margin-top: 0;
}
.products.pupular .products_cards {
  gap: 24px 0;
}
@media (max-width: 556px) {
  .products.pupular .products_cards {
    margin-top: 16px;
  }
}
.products.pupular .products_card {
  width: calc(20% - 8px);
}
@media (max-width: 1200px) {
  .products.pupular .products_card {
    width: calc(33.33% - 8px);
  }
}
@media (max-width: 556px) {
  .products.pupular .products_card {
    width: calc(50% - 8px);
  }
}
.products.pupular .products_card .product_card_body {
  padding: 0 12px 18px;
}
@media (max-width: 556px) {
  .products.pupular .products_card .product_card_body .products_card_title {
    font-size: 12px;
  }
}
.products .container {
  position: relative;
}
.products_top {
  gap: 40px;
  padding-bottom: 6px;
}
.products_top_link.active {
  border-bottom: 2px solid #e53935;
}
.products_top_link {
  transition: all 0.2s linear;
}
.products_top_link:hover {
  border-bottom: 2px solid #e53935;
  color: #e53935;
}
.products_cards {
  margin-top: 24px;
}
.products .slide_control {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 40px);
  margin-left: -10px;
  position: absolute;
  bottom: 45%;
  width: 100%;
}
.products .slide_control .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  z-index: 12;
}
.products_links {
  margin-top: 24px;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .products_links {
    gap: 8px;
  }
}
@media (max-width: 556px) {
  .products_links {
    margin-top: 16px;
  }
}
.products_links .btn {
  background: #fff;
  padding: 11.5px 20px;
  border-radius: 4px;
  transition: all 0.2s linear;
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .products_links .btn {
    font-size: 14px;
    padding: 12px;
  }
}
.products_links .btn.active {
  background: #e53935;
  color: #fff;
}
.products_links .btn:last-child {
  color: #e53935;
}
@media (max-width: 768px) {
  .products_links .btn:last-child {
    border: 1px solid rgba(29, 84, 164, 0.2);
    background: transparent;
  }
}

.trusted_clients {
  padding: 95px 0 80px;
}
@media (max-width: 768px) {
  .trusted_clients {
    padding: 24px 0;
  }
}
.trusted_clients_logos {
  gap: 16px;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .trusted_clients_logos {
    flex-wrap: wrap;
  }
}
.trusted_clients_logos_item {
  width: 100%;
  height: 140px;
  border-radius: 4px;
  border: 1px solid #999;
  background: #fff;
  padding: 17px 20px;
}
@media (max-width: 992px) {
  .trusted_clients_logos_item {
    height: auto;
    width: calc(50% - 8px);
  }
}
@media (max-width: 768px) {
  .trusted_clients_logos_item {
    width: calc(50% - 8px);
    max-height: 80px;
    padding: 8px 0px 7px 0px;
  }
}
.trusted_clients_logos_item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .trusted_clients_logos_item img {
    max-width: 85%;
  }
}
.trusted_clients_info {
  gap: 18px;
  margin-top: 8px;
  border-radius: 4px;
  background: #fafafa;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.04);
  width: 75%;
}
@media (max-width: 992px) {
  .trusted_clients_info {
    width: 100%;
  }
}
.trusted_clients_info_title {
  font-weight: 700;
  margin-top: 32px;
}
.trusted_clients_info_text {
  margin-top: 20px;
}

.additional {
  padding: 80px 0;
}
.additional_items {
  gap: 16px 0;
  margin-top: 24px;
}
.additional_item {
  width: calc(33.33% - 8px);
  height: 100px;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.delivery .delivery_block {
  background-color: #fff;
  padding: 24px 0 0;
}
.delivery .delivery_block .truck_overlay {
  bottom: 6px;
  right: 80px;
  max-width: 380px;
}
.delivery .delivery_block .row {
  padding: 0;
}
.delivery .delivery_block .row .col-md-6 {
  padding-right: 8px !important;
}
.delivery .delivery_block .row .col-md-6:last-child {
  padding-right: 0;
  padding-left: 8px !important;
}
.delivery .delivery_block .delivery_text {
  padding: 24px 47px 24px 24px;
}
.delivery .delivery_block .tk_list {
  gap: 4px;
}
.delivery .delivery_block .tk_list li {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.delivery .delivery_block .tk_list li a {
  color: #212121;
  height: 80px;
  border-radius: 4px;
  background: #fafafa;
  padding: 10px 40px;
}
.delivery .delivery_block .tk_list li a img {
  transition: all 0.2s linear;
}
.delivery .delivery_block .tk_list li a:hover img:last-child {
  transform: rotate(45deg);
}
.delivery .delivery_block .tk_list li a span {
  width: 33%;
}
.delivery .delivery_block .delivery_items {
  margin-top: 16px;
}
.delivery .delivery_block .delivery_items h6 {
  font-weight: bold;
  color: #e4002b;
  margin-bottom: 4px;
}
.delivery .delivery_block .delivery_items p {
  font-size: 0.85rem;
  margin: 0;
  font-weight: 700;
}
.delivery .delivery_block .delivery_items .delivery_item {
  padding: 20px 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.04);
  width: calc(25% - 8px);
}

.certificates {
  padding-top: 80px;
  padding-bottom: 80px;
}
.certificates .content {
  width: calc(75% - 16px);
  gap: 20px;
}
.certificates .content ul {
  padding-left: 40px;
  gap: 10px;
}
.certificates .content li {
  list-style: initial;
}
.certificates .swiper-button-next::after,
.certificates .swiper-button-prev::after {
  display: none;
}
.certificates .swiper-button-next,
.certificates .swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  backdrop-filter: blur(1px);
  opacity: 1;
}
.certificates .swiper-button-next svg,
.certificates .swiper-button-prev svg {
  width: 20px;
}
.certificates .swiper-button-prev {
  left: -20px;
}
.certificates .swiper-button-next {
  right: -20px;
}
.certificates .swiper {
  width: 100%;
}
.certificates .sertficates_content {
  border-radius: 4px;
  background: #fafafa;
  width: calc(25% - 8px);
  padding: 12px 52px;
  gap: 8px;
  position: relative;
}
.certificates .sertficates_content .sertficates_content_bottom {
  width: 100%;
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.certificates .sertficates_content .sertficates_content_bottom button {
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  outline: none;
  border: 0;
  background: transparent;
}

.contact .container {
  gap: 16px;
}
@media (max-width: 992px) {
  .contact .container {
    flex-wrap: wrap;
  }
}
.contact__image {
  position: relative;
}
@media (max-width: 992px) {
  .contact__image {
    width: 100%;
  }
}
.contact__image img {
  width: 100%;
}
.contact__image__text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.contact__image__text__title {
  font-size: 20px;
  font-weight: bold;
}
.contact__image__text__subtitle {
  font-size: 16px;
}
.contact__form {
  flex: 1;
}
@media (max-width: 992px) {
  .contact__form {
    width: 100%;
  }
}
.contact__form form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}
.contact__form .contact__input,
.contact__form .contact__textarea,
.contact__form .contact__select {
  border-radius: 5px;
  height: 44px;
  font-size: 16px;
}
.contact__form .contact__textarea {
  display: flex;
  padding: 16px 16px 0px 16px;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  height: 145px;
}
.contact__form .contact__button {
  width: 100%;
  background: #e53935;
}
.contact__form .contact__file {
  margin-bottom: 10px;
  cursor: pointer;
}
.contact__form .contact__file label {
  gap: 10px;
}
.contact__form .contact__checkbox {
  margin-bottom: 10px;
  font-size: 14px;
}
.contact__form .contact__checkbox a {
  color: red;
  text-decoration: none;
}
.contact__form .contact__checkbox a:hover {
  text-decoration: underline;
}
.contact__text {
  position: absolute;
  padding: 20px;
  border-radius: 4px 4px 0px 0px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7.5px);
  width: 100%;
}

.footer {
  padding: 60px 0 20px;
  background: #fafafa;
}
.footer__buttons a.btn {
  background: #e53935;
}
.footer__bottom {
  color: #999;
  font-family: "PT Sans";
  font-size: 14px;
  margin-top: 60px;
}
.footer__bottom ul {
  gap: 133px;
}
.footer__bottom ul a {
  color: #999;
}
.footer__section {
  gap: 24px;
}
.footer__section .footer__address {
  margin-bottom: 0;
}
.footer__section .footer__title {
  margin-bottom: 0;
}
.footer__working-hours span {
  color: #999;
}
.footer__title {
  color: #999;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__list {
  gap: 20px;
}
.footer__list a {
  color: #212121;
}
.footer__list a:hover {
  border-bottom: 1px solid #212121;
}
.footer .footer__contacts {
  gap: 24px;
  margin-top: auto;
}
.footer .footer__contacts a {
  color: #212121;
  gap: 8px;
}
.footer__social a {
  width: 24px;
  height: 24px;
  background: #3390ec;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.footer__social a:hover {
  background: #2c7fd0;
}
.footer__social a:last-child {
  margin-right: 0;
  background: #33cf6a;
}
.footer__social a:last-child:hover {
  background: #2dba5f;
}

.breadcrumb-nav a {
  color: #999;
  font-family: "PT Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-title {
  color: var(--btn-bg);
  text-align: center;
  font-size: var(--font-size-h2);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.modal__header {
  padding: 32px 20px;
  border-bottom: 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .modal__header {
    padding: 24px 16px;
  }
}
.modal__header .btn-close:hover {
  background: #fff !important;
}
.modal__profile {
  font-size: 14px;
  gap: 8px;
}
.modal__profile button {
  padding: 0;
  color: var(--btn-bg);
  background: transparent;
}
.modal__body {
  padding: 32px 20px;
}
@media (max-width: 768px) {
  .modal__body {
    padding: 24px 16px;
  }
}
.modal__body .form__inputs .form__input_item {
  position: relative;
  display: block;
  margin: 20px 0;
}
.modal__body .form__inputs .form__input_item:first-child {
  margin-top: 0;
}
.modal__body .form__inputs .form__input_item select {
  padding: 12px 20px;
}
.modal__body .form__inputs .form__input_item select ~ .arrow {
  position: absolute;
  top: 38%;
  right: 20px;
  transition: all 0.2s linear;
}
.modal__body .form__inputs .form__input_item select:focus ~ .arrow {
  transform: rotate(180deg);
}
.modal__body .form__inputs .form_input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  outline: none;
}
.modal__body .form__inputs .form_label {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
  background: white;
  padding: 0 4px;
}
.modal__body .form__inputs .form_input:focus + .form_label,
.modal__body .form__inputs .form_input:not(:placeholder-shown) + .form_label {
  display: none;
}
.modal__body .form__inputs .required {
  color: red;
}
.modal__body .button {
  margin-top: 8px;
}
.modal__body .input_info {
  gap: 8px;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .modal__body .input_info {
    margin-top: 24px;
  }
}
.modal__body .input_info span {
  color: var(--color-secondary);
}
.modal__body .form__check_item {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.modal__body .form__check_item .form-check {
  margin-bottom: 0;
}
.modal__body .form__check_item .form-check-label a {
  color: var(--btn-bg);
}
.modal#order .modal__header {
  padding-bottom: 0;
}

*,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Шрифты */
  --btn-bg: #E53935;
  --color-secondary: #999;
  --font-fmily: "PT Sans", sans-serif;
  /* Размеры заголовков */
  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-h3: 20px
  /* Цвета кнопок */
  --btn-bg-opacity: #fbe1e0;
  --btn-text-color: #ffffff;
  --btn-hover-bg: #0056b3;
  --btn-hover-text: #ffffff;
}

/* Применение переменных */
h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h1);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
}

button {
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  color: #212121;
  font-family: var(--font-fmily);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #fff;
}

.nav-link.dropdown-toggle::after {
  display: none !important;
}

main {
  padding-top: 152px;
}

.wrapper {
  overflow: hidden;
}

.section_title {
  font-family: "PT Sans";
  color: #212121;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  gap: 16px;
}
@media (max-width: 768px) {
  .section_title {
    font-size: 20px;
  }
}
.section_title span {
  font-size: 16px;
  font-weight: 400;
}

.products_card {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.products_card .products_card_top {
  position: relative;
}
.products_card .products_card_top .tags {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 4px;
  background: #91c031;
  color: #fff;
  font-family: "PT Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 16.5px;
}
.products_card .products_card_top img {
  width: 100%;
  object-fit: cover;
}
.products_card .product_card_body {
  padding: 4px;
}
.products_card .product_card_body h3 {
  color: #212121;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.products_card .product_card_body ul li {
  padding: 7px 0;
}
.products_card .product_card_body ul li span {
  color: #999;
  font-family: "PT Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products_card .product_card_body ul li span:last-child {
  color: #212121;
}
.products_card .product_card_body .price_new {
  color: #212121;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 5px 0;
  margin-top: 4px;
}
.products_card .btn {
  color: #b71c1c;
  font-family: "PT Sans";
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  background: #e53935;
  border: 0;
}
.products_card .btn:first-child {
  gap: 8px;
  flex: 1 0 0;
  background: #fbe1e0;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}
.products_card .btn:first-child:hover {
  border-color: #cc2f2c !important;
}

.f-button.is-close-btn {
  display: none;
}

.fancybox__backdrop {
  background: rgba(33, 33, 33, 0.3);
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  border-color: #212121 !important;
  box-shadow: 0 0 0 transparent;
}

.close_btn {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */